name: Build and deploy Node.js app to Azure Web App - SenseSafe

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies, build, and test
        working-directory: sensesafe
        run: |
          npm install
          npm run build --if-present
          
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: sensesafe

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4B0FB50E7BE04A31825F98C3A68E84A4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_87CD9874B0684F7ABB5910116BEE1627 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_599EAD2468DD490E90B3CAEAC9B0E8C2 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'SenseSafe'
          slot-name: 'Production'
          package: sensesafe

